{:sources 
 [{:type :markdown
   :path "posts"
   :pattern #".*\\.md$"
   :template :post}
  {:type :kroki
   :path "posts"
   :pattern #".*\\.d2$"
   :template :diagram}]

 :templates 
 {:post {:path "templates/post.html"
         :engine :hiccup}
  :diagram {:path "templates/post.html"
            :engine :hiccup}}

 :productions 
 [{:type :html
   :path "public"
   :template :post}]}